**/build/
**/app/build/
**/*/build/
**/generated/
**/ksp/
**/hilt_aggregated_deps/
**/component_sources/
**/component_trees/

*.iml
.gradle/
.idea/
local.properties
.DS_Store
*.class
*.apk
*.aab
Prac5/**/build/
Prac5/*/build/
